
tutorbot/public/js/app.js
tutorbot/lang/es/validation.php
tutorbot/lang/es/passwords.php
tutorbot/lang/es/pagination.php
tutorbot/lang/es/auth.php
tutorbot/lang/en/validation.php
tutorbot/lang/en/passwords.php
tutorbot/lang/en/pagination.php
tutorbot/lang/en/auth.php
